.DS_Store
.idea
.venv/
*.vcd
*.fst
*.fst.hier
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
test/output/
fpga/*.json
fpga/*.config
fpga/*.bit
fpga/*.png
fpga/pll_*.v
fpga/blink_test.*
